body {

}

header {

}

nav {

}

main {

}

abbr {
    font-style: italic;
    color: chocolate;
}

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: lightgray;
}

.hero .btn {
    display: inline-block;
    border-radius: 5px;
    border-color: lightcoral;
    background-color: orange;
    padding: 20px 40px;
    margin: 10px 0;
}

.hero > .left {
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: lightcyan;
    margin: 30px;
    padding: 30px;
}

.hero > .right {
    grid-column-start: 7;
    grid-column-end: 10;
    background-color: lightblue;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}

.hero > .right > figure {
    margin: 0 auto;
    width: 200px;
    max-height: 600px;
}

.hero > .right > figure > figcaption {
    font-style: italic;
    font-size: 1rem;
}
.hero > .right > figure > img {
    max-height: 400px;
    margin-top: 50px;
}

.hero > .right > .center {
    margin: 0 auto;
    width: 150px;
}

.testimonials {

}

.video {

}

.features {

}

.reasons {

}

.prices {

}

footer {

}
